.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.moviecontainer{
  width: min-content;
}
.image{
  width: 300px;
  height: 500px;
  object-fit: cover;
}
.container{
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  height: fit-content;
}
